.works_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: nowrap row;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vw;
  font-weight: 200;
  text-align: left;
}

.works_image {
  width: 50vw;
  height: 100%
}

.works_title {
  font-size: 4vw;
  font-weight: 500 ;
}

.works_counter_container {
  margin: 50px 0 0 0;
  display: flex;
  font-size: 3vw;
}

.works_counter::before {
  content: "";
  width: 210px;
  height: 1px;
  background-color: black;
  display: inline-block;
  margin: 0 10px 0 0;
}

.works_counter {
  font-weight: 300;
}

.works_description > a {
  color: #000000;
  text-decoration: none;
}

.works_description > a:hover {
  color: #BB7E8C;
}