/* body, html {
  display: flex;
  justify-content: center;
  background-image: url('https://www.koziel.fr/21503-pdt_1500/wall-of-roses-mural-sample.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */