.contact_container {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  font-family: 'Faustina', serif;
}

.contact_container > * {
  padding: 15px 50px;
  color: black;
  width: 75%;
  font-size: 2vh;
}

.contacts {
  font-size: 3.5vh;
  text-align: center;
  background-color: rgba(255,255,255, 0.8);
  border: 1px solid;
  height: 86vh;
}

.contacts > * {
  margin: 25px;
}

img {
  width: auto;
}

#resume {
  width: 350px;
  height:400px;
}

.icons > * {
  padding: 0 10px;
  margin: 20px;
}

.resume_container {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
}

button {
  width: 20%;
}

.love {
  font-family: 'Notable', sans-serif;
  font-size: 5vh;
}
