.home_container {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: center;
  margin: 100px 0 0 0;
}

.home_container > * {
  padding: 0 70px;
  color: black;
  width: 60%;
}

.intro {
  font-size: 2em;
  text-align: center;
}

.image {
  width: 50vh;
  height: 60vh;
  object-fit: cover;
  object-position: 65% 0;
}