.intro {
  width: 110vh;
  height: 70vh;
  text-align: center;
  background-color: hotpink;
  padding: 60px;
  font-size: 3em;
  border: 10px blue dashed;
  margin: auto;
}

.intro_container {
  position: fixed;
  left: 50vh;
  top: 5vh;
}