.home_container {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
}

.home_image {
  width: auto;
  height: 65vh;
  position: sticky;
  animation-duration: 2s;
  animation-name: fade-in-left;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.home_heading {
  font-family: 'Libre Baskerville', serif;
  font-size: 80px;
  position: relative;
  left: -100px;
  top: 25px;
  font-weight: 500;
  animation-duration: 2s;
  animation-name: fade-in-right;
}

.home_paragraph {
  font-family: 'Libre Baskerville', serif;
  border-left: 2.5px solid;
  position: relative;
  bottom: 200px;
  left: 840px;
  padding: 6px;
  width: 50%;
  text-align: left;
  animation-duration: 2s;
  animation-name: fade-in-right;
}

.home_buttons > * {
  border: 1px solid #cecece;
  padding: 30px 13px 8px;
  box-shadow: 0px 0px 18px #a2a2a2;
  border-radius: 12px;
  margin: 25px;
}

.home_buttons > a:hover {
  box-shadow: 0px 0px 20px #747474;
}